前略
本日はお問い合わせいただき、ありがとうございます。
お問い合わせいただいた内容は次のとおりです。

---
氏名: {{ name }} ( {{ nameKana }} )
メールアドレス: {{ email }}
メッセージ:
{{ message }}

---

遅くとも２〜３日以内に返信するようにしております。
恐れ入りますが、しばらくお待ちください。

管理者
{{ createdAt }}
